body {
   background-color: #282c34;
   color: white;
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.box {
   background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
   text-align: center;
}

/* General button style */
.button, button {
   background-color: #61dafb;
   border: none;
   border-radius: 5px;
   color: black;
   padding: 15px 30px;
   font-size: 1.2em;
   margin: 10px 0;
   cursor: pointer;
   transition: background-color 0.3s;
   width: 100%;
   text-align: center;
   text-decoration: none; /* Remove underline from links */
}

.button:hover, button:hover {
   background-color: #21a1f1;
<<<<<<< HEAD
}

=======
}
>>>>>>> f98d347bd9999a10eb01184834893a95c7cfbd1b
